/* -------------------------------------Buttons */
.btn-primary {
    padding: 10px;
    margin-bottom:10px;
}


/* -------------------------------------Footer */
#footer-mov {
    padding: 20px;
}

/* -------------------------------------Search Results */
#movies img, #movie img {
    width:100%;
    min-width: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

#movies .col-md-3 img {
    height: 360px;
    padding-top: 10px;
    float: left;
}

.tmdb {
    position: relative;
    display:inline-block;
    padding-top: 20px;
}
/* -------------------------------------Media Queries */
@media(min-width:960px){
#movies .col-md-3 .tmdb {
    height: 390px;
}