/* -------------------------------------Buttons */
.btn-primary {
    padding: 10px;
    margin-bottom:10px;
}

/* -------------------------------------Navbar */
.nav-container {
  clear: initial;
  display:inline;
  height : 2em;
  position: relative;
  margin: auto;
  padding-top: 0px;
}

.nav-item {
    display:inline;
}

/* -------------------------------------Header */
.header {
    clear:both;
}

#jumboheader {
    padding: 1.5em;
    text-align:center;
    margin:auto;
}

#decidemsg {
    padding: 1.5em;
    text-align:center;
    margin:auto;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.about-heading {
    padding-top:20px;
}

/* -------------------------------------Images */
.bgdimg {
    background-image: url("https://png.pngitem.com/pimgs/s/430-4302112_woman-scream-horror-classic-movie-woman-screaming-horror.png");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    background-color: white;  
    height: 250px; 
    margin:auto;
    padding-top:2em;
    margin-bottom: 50px;
}

.about-img {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    max-width: 99%;
    max-height: 99%;
    padding: 0;
    margin: 0;
}

.img-container {
    padding:0;
    margin-right: 0;
}

.containerimg {
    margin:0;
    padding:0;
}
/* -------------------------------------About */
.about-text {
    width: 50%;
    margin: 0 auto;
    line-height: 25px;
    display: inline-block;
}

.about-padding{
    padding-top: 35px;
    padding-right: 0;
}

/* -------------------------------------Forum */
.forumheader {
    padding: 2em;
    text-align: center;
}

.disclaimer {
    padding: 1em;
    text-align: center;
}

/* -------------------------------------Footer */
#footer-mov {
    padding: 20px;
    text-align: center;
}

.footer-padding {
    padding-top:40px;
}

.about-footer {
    margin-top: 50px;
}

/* -------------------------------------Search Results */
#movies img, #movie img {
    width:100%;
    min-width: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

#movies .col-md-3 img {
    height: 360px;
    padding-top: 10px;
    float: left;
}

.tmdb {
    position: relative;
    display:inline-block;
    padding-top: 3em;
}

.userresults {
    margin-bottom: 50px;
}

/* -------------------------------------Disqus */
#disqus_thread {
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 20px;

}
/* -------------------------------------Media Queries */
/* -------------------------------------Small devices */
@media only screen and (max-width: 600px) {
    .bgdimg {
    display:none;
    }
    .img-container{
     display:none;
 }
}

/* -------------------------------------Tablet devices */
@media only screen and (max-width: 768px) {
 .bgdimg {
    display:none;
    }
 .img-container{
     display:none;
 }
}

/* -------------------------------------Large devices */
@media only screen and (min-width: 992px) {
    #movies .col-md-3 .tmdb {
    height: 390px;
    }
}