/* -------------------------------------Buttons */
.btn-primary {
    padding: 10px;
    margin-bottom:10px;
}

/* -------------------------------------Navbar */
.nav-container {
  clear: initial;
  display:inline;
  height : 2em;
  position: relative;
  margin: auto;
  padding-top: 0px;
}


.nav-item {
    display:inline;
}

/* -------------------------------------Header */
.header {
    clear:both;
}

#jumboheader {
    padding: 1.5em;
    text-align:center;
    margin:auto;
    text-orientation: center;
}

#decidemsg {
    padding: 1.5em;
    text-align:center;
    margin:auto;
    text-orientation: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.about-heading {
    padding-top:20px;
}

/* -------------------------------------Images */
.bgdimg {
    background-image: url("https://png.pngitem.com/pimgs/s/430-4302112_woman-scream-horror-classic-movie-woman-screaming-horror.png");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    background-color: white;  
    height: 250px; 
    margin:auto;
    padding:0;
}

.about-img {
    position:relative;
    margin:auto;
}

/* -------------------------------------About */
.about-text {
    width: 50%;
    margin: 0 auto;
    line-height: 25px;
    display: inline-block;
}

.about-padding{
    padding-top: 35px;
}

/* -------------------------------------Footer */
#footer-mov {
    padding: 20px;
    text-align: center;
}

/* -------------------------------------Search Results */
#movies img, #movie img {
    width:100%;
    min-width: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

#movies .col-md-3 img {
    height: 360px;
    padding-top: 10px;
    float: left;
}

.tmdb {
    position: relative;
    display:inline-block;
    padding-top: 3em;
}

/* -------------------------------------Disqus */
#disqus_thread {
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 20px;

}
/* -------------------------------------Media Queries */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .bgdimg {
    display:none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
 .bgdimg {
    display:none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #movies .col-md-3 .tmdb {
    height: 390px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}